/* ----------------------------------------------------------
author: Pavel I. Kornienko
email: pavel@mediatune.ru
icq: 3223773
skype: dazzle_sup
---------------------------------------------------------- */ 


/*** Custom Style ***/

.header ul {
    margin: 10px 70px;
}
.header ul li {
    position: relative;
    display: inline-block;
}
.header ul li.left {
    float: left;
}
.header ul li.right {
    float: right;
}
.header ul li a {
    color: #cdadda;
    font: 18px/22px Philosopher, Tahoma, Arial;
    text-decoration: none;
    margin: 0 15px;
    text-shadow: 0 -1px 3px #000;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 0 0 10px 0;
}
.header ul li a:before{
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    left: 0;
    width: 100%;
    background: url("../img/gradient.png") 50% 0% repeat-x;
    opacity: 0.4;
}
.header ul li a:hover {
    color: #f2cdff;
}
.header ul li ul {
    display: none;
}
.header ul li:hover > ul {
    display: block;
    margin: 0;
    position: absolute;
    z-index: 1;
    background: rgba(230, 155, 255, 0.80);
    border-radius: 10px;
    padding: 5px 0;
    top: 30px;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.header ul li ul li {
    width: 150px;
    padding: 3px 0;
}
.header ul li ul li a {
    color: #400748;
    text-decoration: underline;
    font: 14px/18px Candara, Tahoma, Sans;
    text-shadow: none;
}
.header ul li ul li a:before {
    display: none;
}
.header ul li ul li a:hover {
    color: #400748;
    text-decoration: none;
}
.clear {
    clear: both;
}
.server_status .status {
    font: 14px Philosopher, Tahoma, Arial;
    color: #ffeabd;
    z-index: 1;
    position: absolute;
    top: 125px;
    right: 385px;
    text-transform: uppercase;
    background: url("../img/status_bg.png") 50% 50% no-repeat;
    min-width: 153px;
    text-align: center;
}
.server_status .status span {
    border-bottom: 1px solid #C58A99;
}
.server_status .status .on {
    color: #8ae359;
}
.server_status .status .off {
    color: #ebc21a;
}
.server_status #server_online .percent {
    display: none !important;
}
.server_status #server_online {
    position: absolute;
    top: 91px;
    right: 260px;
    width: 153px;
    height: 169px;
}
.server_status .server_name {
    font: 14px Philosopher, Tahoma, Arial;
    color: #ffeabd;
    z-index: 1;
    position: absolute;
    top: 188px;
    right: 137px;
    text-transform: uppercase;
    background: url("../img/status_bg.png") 50% 50% no-repeat;
    text-align: center;
    min-width: 153px;
}
.server_status .server_name span {
    border-bottom: 1px solid #C58A99;
}
.logo a {
    display: block;
    position: absolute;
    width: 375px;
    height: 80px;
    right: 143px;
    top: 280px;
}
.start_game a {
    display: block;
    position: absolute;
    width: 320px;
    height: 70px;
    right: 170px;
    top: 435px;
    background: url("../img/start.jpg") 50% 50% no-repeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
/*.start_game a:hover {
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}*/
.sidebar_title {
    margin: 85px 0 20px 0;
    color: #ad2c6d;
    font: 20px/22px Philosopher, Tahoma, Arial;
    text-align: center;
}
.last_post {
    background: url("../img/forum_icon.png") 0% 50% no-repeat;
    padding: 0 0 0 40px;
    margin: 0 0 15px 30px;
    width: 155px;
}
.last_post .topic a {
    color: #932f80;
    font: 14px/18px Candara, Tahoma, Sans;
    font-weight: 800;
    text-decoration: none;
    border-bottom: 1px solid #e4b0d0;
}
.last_post .topic a:hover {
    border-bottom: transparent;
}
span.user {
    display: inline-block;
    background: url('../img/icons.png') no-repeat 0 0;
    width: 11px;
    height: 11px;
    margin: 0 2px -2px 0;
}
span.time {
    display: inline-block;
    background: url('../img/icons.png') no-repeat -13px -1px;
    width: 11px;
    height: 11px;
    margin: 0 2px -3px 0;
}
.last_post .user_profile {
    font: 13px/15px Candara, Tahoma, Sans;
    color: #8f6981;
}
.last_post .user_profile:hover {
    text-decoration: none;
}
.last_post .date {
    font: 13px/15px Candara, Tahoma, Sans;
    color: #8f6981;
    float: right;
    margin: 0 10px 0 0;
}
.news {
    padding: 0 0 80px;
    background: url("../img/news_hr.png") 50% 100% no-repeat;
}
.news .image {
    margin: 50px 70px 0 25px;
    float: right;
    text-align: right;
}
.news .image a {
    color: #ffcd72;
    font: 14px/18px Candara, Tahoma, Sans;
    text-transform: uppercase;
}
.news .image a:hover {
    text-decoration: none;
}
.news .image img {
    border: 2px solid #fbe392;
    display: block;
    box-shadow: 0 0 15px rgba(251, 227, 146,0.5);
    margin: 0 0 10px 0;
    height: 100px;
    width: auto;
}
.news .title a {
    font: 20px/22px Philosopher, Tahoma, Arial;
    color: #ffcd72;
    text-decoration: none;
    text-shadow: 1px 0 0 #000;
}
.news .date {
    color: #a37d59;
    font: 14px/18px Candara, Tahoma, Sans;
    margin: 0 0 10px 0;
}
.news .news_text {
    color: #fff2d7;
    font: 14px/18px Candara, Tahoma, Sans;
}
.paginate {
    margin: 0 40px 0 400px;
    text-align: center;
    background: url("../img/paginate_bg.png") 50% 50% no-repeat;
    width: 456px;
}
.paginate ul {
    display: inline-block;
}
.paginate ul li {
    display: inline-block;
    padding: 5px 10px;
}
.paginate ul li a {
    display: inline-block;
    padding: 3px;
    color: #ffcd72;
    text-decoration: none;
    font: 14px/22px Philosopher, Tahoma, Arial;
}
.paginate ul li a:hover {
    display: inline-block;
    color: #fff;
}
.paginate ul li.current a {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.copyrights {
    width: 300px;
    display: inline-block;
    float: left;
}
.copyrights p {
    font: 10px/14px Tahoma, Arial, sans-serif;
    color: #b096d4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default;
    text-transform: uppercase;
}
.copyrights p:first-child {
    padding: 0 0 10px 0;
}
.copyrights:hover p {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.lineage_copy {
    display: inline-block;
    margin: 0 0 0 60px;
}
.lineage_copy .nc_soft {
    display: inline-block;
    width: 91px;
    height: 54px;
    background: url('../img/ncsoft.png') 50% 50% no-repeat;
    margin: 0 20px 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.lineage_copy .lineage {
    display: inline-block;
    width: 57px;
    height: 54px;
    background: url('../img/l2.png') 50% 50% no-repeat;
    margin: 0 20px 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.lineage_copy span:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.design_copy {
    display: inline-block;
    float: right;
    width: 128px;
    height: 51px;
    background: url('../img/asa.png') 50% 50% no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.design_copy:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.content {
    color: #fff2d7;
    font: 14px/18px Candara, Tahoma, Sans;
}
.content .form-group {
    display: table-row;
    line-height: 30px;
}
.content .form-group .label {
    display: table-cell;
}
.content .form-group .col-md-6 {
    display: table-cell;
    padding: 0  0 0 10px;
}
.content .form-group .col-md-6 {
    display: table-cell;
    padding: 0  0 0 10px;
}
.content .form-group input {
    background: #936565;
    border: 1px solid #40293B;
    padding: 3px 6px;
    color: #fff2d7;
    font: 14px/18px Candara, Tahoma, Sans;
}
button {
    font: 14px/18px Candara, Tahoma, Sans;
    background: #451c20;
    border: 1px solid #ff9f9f;
    box-shadow: 0 0 5px rgb(184, 88, 117), 0 0 15px #A56669 inset;
    padding: 6px 50px;
    border-radius: 5px;
    color: #ffadae;
    margin: 15px 0;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
button:hover {
    background: #6b2b30;
}
.content .panel-heading {
    font: 20px/22px Philosopher, Tahoma, Arial;
    color: #ffcd72;
    text-decoration: none;
    text-shadow: 1px 0 0 #000;
    margin: 0 0 10px 0;
}
.hidden {
    display: none;
}
.registration {
    margin: 0 0 0 125px;
}
.registration button {
    margin: 20px 0 0 65px;
}
.forgot_pass {
    color: #FEACAD;
    margin: 0 0 0 10px;
}
.g-recaptcha {
    margin: 15px 0 0;
}
.col-sm-3 {
    float: left;
    width: 254px;
    padding: 10px 0;
    border-radius: 5px;
}
.col-sm-3 table td {
    padding: 2px 10px;
}
.col-sm-3 table td:last-child {
    padding: 0;
}
.row.accounts {
    overflow: auto;
    width: 80%;
}
.create_account {
    display: block;
    text-align: center;
    line-height: 44px;
    color: #FBC970;
}
.create_account:hover {
    text-decoration: none;
}
.alert.alert-success {
    background: #5CB25A;
    color: #fff;
    width: 505px;
    border-radius: 5px;
    padding: 10px;
}
.alert.alert-danger {
    background: #B25A5D;
    width: 505px;
    border-radius: 5px;
    padding: 10px;
}
#auth_err.alert-danger {
    background: #B25A5D;
    width: 275px;
    padding: 10px;
    margin: 10px 0;
}
.authorization {
    margin: 0 0 0 125px;
}
.authorization button {
    margin: 20px 0 0 25px;
}
.master_account {
    background: #261126 url('../img/ma.jpg') 50% 0% no-repeat;
}
.master_account .header {
    height: 30px;
}
.master_account .content {
    padding: 0;
    height: auto;
    min-height: 715px;
}
.master_menu {
    margin: 40px 0 0;
    overflow: hidden;
    padding: 10px 0 60px;
    background: url('../img/hr.png') 50% 100% no-repeat;
}
.master_menu ul li {
    font: 18px/22px Philosopher, Tahoma, Arial;
    color: #ffb1f5;
    display: inline-block;
}
.master_menu ul {
    padding: 0;
    margin: 0;
}
.master_menu ul li {
    padding: 0;
    margin: 0;
}
.master_menu ul li:first-child {
    padding: 0;
    margin: 0 10px 0 0;
}
.button {
    font: 14px/18px Candara, Tahoma, Sans !important;
    background: #451c20;
    border: 1px solid #ff9f9f;
    box-shadow: 0 0 5px rgb(184, 88, 117), 0 0 15px #A56669 inset;
    padding: 6px 20px;
    border-radius: 5px;
    color: #ffadae;
    margin: 0 5px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}
.button:hover {
    color: #ffadae;
    background: #6b2b30;
}
.faggotiny {
    background: #441d45;
    border: 1px solid #ff9fec;
    box-shadow: 0 0 5px rgb(123, 56, 122), 0 0 15px #783a7d inset;
    color: #ffb0ef;
}
.faggotiny:hover {
    background: #823484;
    color: #ffb0ef;
}
.yellow_omfg {
    background: #453020;
    border: 1px solid #fff79f;
    box-shadow: 0 0 5px rgb(121, 92, 71), 0 0 15px #7c683d inset;
    color: #fff8b0;
}
.yellow_omfg:hover {
    background: #593e29;
    color: #fff8b0;
}
button {
    font: 14px/18px Candara, Tahoma, Sans;
    background: #451c20;
    border: 1px solid #ff9f9f;
    box-shadow: 0 0 5px rgb(184, 88, 117), 0 0 15px #A56669 inset;
    padding: 6px 50px;
    border-radius: 5px;
    color: #ffadae;
    margin: 15px 0;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.master_account .content .panel-heading {
    color: #ffb1f5;
}
.master_account .content .form-group input {
    background: #ffe8fc;
    border: none;
    padding: 3px 6px;
    color: #2b0926;
    font: 14px/18px Candara, Tahoma, Sans;
    border-radius: 3px;
}
.master_account .content {
    color: #ff85fa;
    font: 14px/18px Candara, Tahoma, Sans;
}
.create_account_link {
    position: absolute;
    top: 0;
    right: 10px;
}
.background_faggotiny {
    width: 100%;
    color: #2b0926;
    background: #ec83e8;
    border-radius: 3px;
}
.bordered {
    border: 1px solid #ec83e8;
    border-radius: 3px;
    padding: 2px 10px;
}
.account_name {
    width: 200px;
    margin: 0 0 10px;
    padding: 1px 10px;
}
.master_account .col-sm-3 table td {
    padding: 3px 0;
}
.master_account .col-sm-3 table td:first-child {
    padding: 3px 10px 0 0;
}
.master_account .col-sm-3 table td:last-child {
    color: #ffccf8;
}
.master_account .account_information {
    padding: 10px 0;
    width: 220px;
}
.exit {
    display: inline-block;
    background: url('../img/exit.png') 0% 50% no-repeat;
    width: 61px;
    height: 61px;
    margin: -15px 0 -30px -14px;
}
.user_icon {
    display: inline-block;
    background: url('../img/user.png') 0% 50% no-repeat;
    width: 61px;
    height: 61px;
    position: absolute;
    left: -38px;
    top: -19px;
}
.user_name {
    color: #fff !important;
}
.user_name:before {
    display: none !important;
}
.registration .alert.alert-danger {
    background: #B25A5D;
    width: 275px;
    border-radius: 5px;
    padding: 10px;
}