/* ----------------------------------------------------------
author: Pavel I. Kornienko
email: pavel@mediatune.ru
icq: 3223773
skype: dazzle_sup
---------------------------------------------------------- */ 


/*** Fonts Style ***/

@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/philosopher_regular.eot');
    src: url('../fonts/philosopher_regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/philosopher_regular.woff2') format('woff2'),
    url('../fonts/philosopher_regular.woff') format('woff'),
    url('../fonts/philosopher_regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Candara';
    src: url('../fonts/candara.eot');
    src: local('Candara'),
    url('../fonts/candara.woff') format('woff'),
    url('../fonts/candara.ttf') format('truetype');
}