/* ----------------------------------------------------------
author: Pavel I. Kornienko
email: pavel@mediatune.ru
icq: 3223773
skype: dazzle_sup
---------------------------------------------------------- */ 


/*** Global Layouts Style ***/

body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    background: #0e090d url('../img/bg.jpg') 50% 0% no-repeat;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 500px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    position: relative;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
.container {
    width: 100%;
    float: left;
    overflow: hidden;
}
.content {
    padding: 35px 0 0 355px;
    height: 737px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    float: left;
    width: 290px;
    margin-left: -100%;
    position: relative;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin: 80px 0 0;
    height: 100px;
    overflow: hidden;
}